# Theos
.theos/
packages/
obj/
*.deb
*.theos
*.ldid*
*_LOCAL_*

# Temporary files
*.swp
*.swo
*~
._*

# Logs / temporary output
*.log
*.tmp
*.temp
*.cache

# macOS
.DS_Store

# Xcode
*.xcodeproj/
*.xcworkspace/
*.xcuserstate
*.xcuserdatad/
DerivedData/
*.hmap
*.dSYM
*.dSYM.zip

# IDE
.vscode/
.idea/
*.iml
